*{
    margin: 0;
    padding: 0;
}
.header_theme-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    flex-shrink: 0;
    outline: none;
    position: relative;
    left: 60px;
    background-color:orange;
}
.header_theme-switch:hover  {
    background-color:#66655d;
}


.book_content_element_button{
    width: 48%;
    height: 100px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(0, 0, 0) 10%,rgb(255, 145, 0) - 20%);
    outline: none;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 20px;
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.book_content_element_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    height: 100px;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 35px;
    background: linear-gradient(to right,rgb(255, 145, 0) - 10%, rgb(0, 0, 0) 70%);
    &-input{
        background-color: inherit;
        width: 70%;
        height: 100%;
        border: none;
        font-size: 30px;
        &:active{
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
}
