*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100%;
    background-image: url(../img/dish.jpeg);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .book_wrapper{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.book_filters{
    width: 20%;
    height: 100%;
    background-color:burlywood;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .book_filters_categories{
        margin-top: 60px;
        width: 100%;
        .book_filters_categories_kitchen{
            border-radius: 15px;
            background: inherit;
            outline: none;
            font-size: 30px;
            color: black;
            display: flex;
            width: 100%;
            justify-content: center;
            height: 70px;
            margin-top: 10px;
            align-items: center;
            &--active{
                border-radius: 15px;
                background: linear-gradient(to right, rgb(0, 0, 0) 1%,rgb(255, 145, 0) - 20%);
                outline: none;
                font-size: 30px;
                color: black;
                display: flex;
                width: 100%;
                justify-content: center;
                height: 70px;
                margin-top: 10px;
                align-items: center;
            }
            &:hover{
                color:white;
            }
        }
    }
}
.book_content{  
    width: 75%;
    height: 90%;
    &_elements{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        justify-content: space-between;

    }
    &_recipes{
        background-color: burlywood;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;

    }
}